bidict==0.22.1
biosppy==1.0.0
bleak==0.20.2
colorama==0.4.6
colorlog==6.7.0
contourpy==1.0.7
cycler==0.11.0
easydev==0.12.1
fonttools==4.39.4
future==0.18.3
h5py==3.8.0
hrv==0.2.10
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
nolds==0.5.2
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pexpect==4.8.0
Pillow==9.5.0
ptyprocess==0.7.0
pyhrv==0.4.1
pyobjc-core==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-CoreBluetooth==9.1.1
pyobjc-framework-libdispatch==9.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
scikit-learn==1.2.2
scipy==1.10.1
shortuuid==1.0.11
six==1.16.0
spectrum==0.8.1
threadpoolctl==3.1.0
tqdm==4.65.0
