aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aniso8601==9.0.1
anyio==3.7.0
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
bleak==0.20.2
blinker==1.5
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
clickclick==20.10.2
connexion==2.14.2
dnspython==2.3.0
email-validator==2.0.0.post2
fastapi==0.95.2
Flask==2.2.0
frozenlist==1.3.3
greenlet==2.0.2
greenletio==0.10.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httptools==0.5.0
httpx==0.24.1
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.2
multidict==6.0.4
numpy==1.24.3
orjson==3.8.14
packaging==23.1
priority==2.0.0
pydantic==1.10.8
pyobjc-core==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-CoreBluetooth==9.1.1
pyobjc-framework-libdispatch==9.1.1
pyrsistent==0.19.3
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0
quart==0.18.4
redis==4.5.5
requests==2.30.0
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
swagger-ui-bundle==0.0.9
toml==0.10.2
typing_extensions==4.6.2
ujson==5.7.0
urllib3==2.0.2
uvicorn==0.22.0
uvloop==0.17.0
watchfiles==0.19.0
websockets==11.0.3
Werkzeug==2.3.4
wsproto==1.2.0
yarl==1.9.2
